@font-face {
  font-family: "Exo2";
  src: url(/fonts/Exo2-VariableFont_wght.ttf);
}

html {
  background-color: #fabd4dad;
}

.quadrado_logo {
  width: 100px;
  height: 100px;
  background: white;
  text-align: center;
  line-height: 120px;
  float: right;
  margin-right: 50%;
  margin-top: -50px;
  transform: translateX(50%) rotate(45deg);
}

.logo {
  width: 35px;
}

.nav_bar {
  display: flex;
}

.apresentacao {
  text-align: center;
  margin: 120px auto;
}

.dev_icon {
  width: 160px;
  margin-bottom: 15px;
}

.titulo {
  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
  color: #f84102;
  letter-spacing: 2.5px;
  word-spacing: 5px;
  font-weight: bold;
}

.sub_titulo {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  padding-top: 17px;
  letter-spacing: 3.5px;
  color: #ff622d;
}

.foto_de_perfil {
  width: 130px;
  float: left;
}

.conteudo {
  text-align: center;
  width: 70%;
  margin: 120px auto;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}

.imagens_portfolio {
  width: 30%;
}

.fonte_media {
  color: black;
  font-size: 30px;
  letter-spacing: 1.8px;
  font-weight: bolder;
  text-align: left;
}

.paragrafo {
  font-family: "Exo2";
  display: inline-block;
  font-size: 20px;
  text-align: left;
}

.fonte_paragrafo {
  font-family: "Exo2";
}

li {
  text-align: left;
}

.progress_bar_1 {
  text-align: left;
}
